
<footer>
  <hr>
  <div class="foot-content">
    <div class="menu-f">
      <ul class="foot-p">Тех поддержка</ul>
      <ul class="foot-p">+7 (990) 900 00 00</ul>
      <ul class="foot-p">mail@mail.ru</ul>
    </div>
    <div class="logo-f">
      <div class="logo"><img src="/img/log (1).svg" alt="logo" class="logo_index">CheckTask</div>
    </div>
    <div class="menu-f-right">
      <ul class="foot-p">Для работодателей</ul>
      <ul class="foot-p">О Нас</ul>
      <ul class="foot-p">Политика конфиденциальности</ul>
    </div>
  </div>
  </footer>