<header>
    <div class="text-logo"><button class="menu-toggle">☰</button><img src="/img/log (1).svg" alt="logo">CheckTask</div>
    <div class="search-container">
      <div class="input-with-icon">
        <i class="icon"><img src="/img/search.svg" alt="icon"></i>
        <input type="text" id="search" placeholder="поиск" required>
        <button id="clear-search" class="clear-button">×</button>
      </div>

    </div>
    <div class="btn-menu"><a href="/profile" class="logout">Профиль</a></div>
</header>