<div class="main-menu">
    <a href="/main" class="point-menu"><img src="img/bookmark.svg" alt="">Заметки</a>
    <a href="/time" class="point-menu"><img src="/img/meter.svg" alt="">Напоминания</a>
    <a href="/archive" class="point-menu"><img src="/img/archive (1).svg" alt="">Архив</a>
    <a href="/group" class="point-menu"><img src="/img/user-add.svg" alt="">Группы</a>
  </div>