<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>CheckTask
  </title>
</head>
<body>
  <main>
  <div class="hello">
    <h1>Добро пожаловать!</h1>
</div>
<div class="btns">
  <div class="logo"><img src="/img/log.svg" class="logo_index">CheckTask</div>
  <a href="/register">
      <button class="btn">Зарегистрироваться</button>
  </a>
</div> 

<div class="btns"><p class="big">Если уже зарегистрированы</p>
      <a href="/login">
          <button class="btn">Войти</button>
      </a>
  </div>
</main>
</body>
</html>